
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="JSInside - video viewer">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>JSInside - video viewer</title>

	<!-- Bootstrap core CSS -->
	<link href="../www/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<!-- Bootstrap theme -->
	<link href="../www/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
	<style>
		body {
			padding-top	: 70px;
			padding-bottom	: 30px;
		}
	</style>
    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">JSInside</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="mailto:jerome.etienne@gmail.com">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>

    </div>

	<div class="item container">
	</div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script src="../www/jquery.min.js"></script>
	<script src="../www/bootstrap/js/bootstrap.min.js"></script>
	<script src="../www/mustache/mustache.js"></script>

	<script src='../items.js'></script>

	<template id='itemTemplate'>
		<div class="page-header">
			<h1>{{title}}</h1>
		</div>
		<div class='row'>
			<div class='col-md-8'>
				<iframe width="100%" height="480"  frameborder="0" allowfullscreen
					src="//www.youtube.com/embed/{{youtubeId}}">
				</iframe>
			</div>
			<div class='col-md-4'>
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Description</h3>
					</div>
					<div class="panel-body">
						{{{description}}}
					</div>
				</div>
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Tags</h3>
					</div>
					<div class="panel-body">
						{{{tags}}}
					</div>
				</div>
			</div>
		</div>
	</template>
	<script>
		//////////////////////////////////////////////////////////////////////////////////
		//		comment								//
		//////////////////////////////////////////////////////////////////////////////////

		jQuery(function(){
			var itemName	= location.hash.substr(1)
			var item	= items.filter(function(item){ return item.name === itemName })[0]
			// get template items
			var htmlTemplate= jQuery('#itemTemplate').html()
			var output	= Mustache.render(htmlTemplate, item);
			jQuery(output).appendTo('.item.container')
		})
	</script>
  </body>
</html>
